/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
*  Font family and sizes
*/
/*
* Visualisation sizes
*/
/*
* Colours
*/
body {
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

.text-box {
  padding: 5px;
}

.bold {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1, h2, h3 {
  padding-left: 5px;
  margin-top: 11px;
  margin-bottom: 11px;
}

h1 {
  font-size: 41px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

#change-dates h2 {
  font-size: 20px;
}

small {
  font-size: 12px;
}

@media only screen and (min-width: 760px) {
  h1, h2, h3 {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 1000px) {
  h1, h2, h3 {
    padding-left: 20px;
  }

  .text-box {
    padding: 10px 20px;
  }
}
#main, #dashboard, #what, #where, #when, #nonweek {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#dashboard, #what, #where, #when, #nonweek {
  width: 100%;
}

#change-dates {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff5f0;
  padding: 5px;
  border: 2px solid #010000;
}

#change-dates h2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px;
}

.vis-container, #styles, #beers, #breweries, #day, #time, #venues, #map, #year, #pastday {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 500px;
}

#styles, #beers, #breweries {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 684px;
      -ms-flex-preferred-size: 684px;
          flex-basis: 684px;
}

#day, #time, #venues, #map {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 684px;
      -ms-flex-preferred-size: 684px;
          flex-basis: 684px;
}

#map-container {
  padding: 20px;
}

#nonweek {
  border-top: 1px solid #67000d;
}

#year, #pastday {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 684px;
      -ms-flex-preferred-size: 684px;
          flex-basis: 684px;
  height: 200px;
}

h2 {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.vis {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  #description {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 70%;
  }

  #intro {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  #data-description {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  #day, #time, #venues, #map {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 500px;
        -ms-flex-preferred-size: 500px;
            flex-basis: 500px;
    width: 50%;
  }

  #year, #pastday {
    height: 300px;
  }

  #year, #pastday {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 1300px;
        -ms-flex-preferred-size: 1300px;
            flex-basis: 1300px;
    width: 70%;
  }

  #styles, #beers, #breweries {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 333.3333333333px;
        -ms-flex-preferred-size: 333.3333333333px;
            flex-basis: 333.3333333333px;
  }
}
@media only screen and (min-width: 760px) {
  #intro {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }

  #data-description {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }

  #dashboard {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}
#untappd-logo img {
  height: 60px;
}

input {
  width: 70px;
  margin: 2px;
  padding: 2px;
  background-color: #fcbba1;
  border: 2px solid #67000d;
  text-align: center;
  font-weight: 700;
}

input:hover {
  background-color: #fa9770;
  border-color: #340007;
}

input[disabled] {
  background-color: #fff5f0;
}

@media only screen and (min-width: 760px) {
  input {
    height: 40px;
  }
}
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.tooltip {
  padding: 4px;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.month text {
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  stroke-width: 1px;
  font-size: 9.6px;
}

.point-cell {
  stroke: #000;
  stroke-opacity: .2;
}

.c29 {
  fill: #e63734;
}

.c28 {
  fill: rgba(230, 61, 58, 0.98);
}

.c27 {
  fill: rgba(230, 67, 64, 0.96);
}

.c26 {
  fill: rgba(230, 72, 70, 0.94);
}

.c25 {
  fill: rgba(230, 78, 76, 0.92);
}

.c24 {
  fill: rgba(230, 84, 82, 0.9);
}

.c23 {
  fill: rgba(230, 90, 88, 0.88);
}

.c22 {
  fill: rgba(230, 96, 94, 0.86);
}

.c21 {
  fill: rgba(230, 102, 100, 0.84);
}

.c20 {
  fill: rgba(230, 108, 106, 0.82);
}

.c19 {
  fill: rgba(230, 114, 112, 0.8);
}

.c18 {
  fill: rgba(230, 120, 118, 0.78);
}

.c17 {
  fill: rgba(230, 125, 124, 0.76);
}

.c16 {
  fill: rgba(230, 131, 131, 0.74);
}

.c15 {
  fill: rgba(230, 137, 137, 0.72);
}

.c14 {
  fill: rgba(230, 143, 143, 0.7);
}

.c13 {
  fill: rgba(230, 149, 149, 0.68);
}

.c12 {
  fill: rgba(230, 155, 155, 0.66);
}

.c11 {
  fill: rgba(230, 161, 161, 0.64);
}

.c10 {
  fill: rgba(230, 167, 167, 0.62);
}

.c9 {
  fill: rgba(230, 173, 173, 0.6);
}

.c8 {
  fill: rgba(230, 179, 179, 0.58);
}

.c7 {
  fill: rgba(230, 185, 185, 0.56);
}

.c6 {
  fill: rgba(230, 191, 191, 0.54);
}

.c5 {
  fill: rgba(230, 197, 197, 0.52);
}

.c4 {
  fill: rgba(230, 203, 203, 0.5);
}

.c3 {
  fill: rgba(230, 209, 209, 0.48);
}

.c2 {
  fill: rgba(230, 215, 215, 0.46);
}

.c1 {
  fill: rgba(230, 221, 221, 0.44);
}

.c0 {
  fill: rgba(255, 255, 255, 0);
}

@media only screen and (min-width: 760px) {
  .month text {
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    stroke-width: 1px;
    font-size: 16px;
  }
}
