/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
*  Font family and sizes
*/
/*
* Visualisation sizes
*/
body {
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

.text-box {
  padding: 5px;
}

.bold {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1, h2, h3 {
  padding-left: 5px;
  margin-top: 11px;
  margin-bottom: 11px;
}

h1 {
  font-size: 41px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

@media only screen and (min-width: 760px) {
  h1, h2, h3 {
    padding-left: 10px;
  }

  .text-box {
    padding: 10px;
  }
}
@media only screen and (min-width: 1000px) {
  h1, h2, h3 {
    padding-left: 20px;
  }

  .text-box {
    padding: 20px;
  }
}
#main, #dashboard, #what, #where, #when {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#dashboard, #what, #where, #when {
  width: 100%;
}

.vis-container, #styles, #beers, #breweries, #day, #time, #venues, #year {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 500px;
}

#styles, #beers, #breweries {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 684px;
      -ms-flex-preferred-size: 684px;
          flex-basis: 684px;
}

#day, #time {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 684px;
      -ms-flex-preferred-size: 684px;
          flex-basis: 684px;
}

#venues {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 684px;
      -ms-flex-preferred-size: 684px;
          flex-basis: 684px;
}

#year {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 684px;
      -ms-flex-preferred-size: 684px;
          flex-basis: 684px;
  height: 200px;
}

h2 {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.vis {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  #description {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 70%;
  }

  #intro {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 60%;
  }

  #data-description {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 40%;
  }

  #day, #time {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 500px;
        -ms-flex-preferred-size: 500px;
            flex-basis: 500px;
    width: 50%;
  }

  #year {
    height: 300px;
  }

  #year, #venues {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 1300px;
        -ms-flex-preferred-size: 1300px;
            flex-basis: 1300px;
    width: 70%;
  }

  #styles, #beers, #breweries {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 333.3333333333px;
        -ms-flex-preferred-size: 333.3333333333px;
            flex-basis: 333.3333333333px;
  }
}
@media only screen and (min-width: 760px) {
  #intro {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }

  #data-description {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }

  #beta-disclaimer {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  #dashboard {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
}
#untappd-logo img {
  height: 60px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}
