* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    width: $content-width;
}

body {
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit/2;
    margin-left: $gap-size;
    margin-right: $gap-size;
    background-color: $background-color;
}

footer {
  clear: both;
}

h1, p {
    margin-bottom: $spacing-unit;
}

h2 {
    margin-bottom: $spacing-unit / 4;
}

h1, h2 {
    margin-left: -$gap-size;
    padding: $spacing-unit/4 0 $spacing-unit/8 $spacing-unit/4;
}

ul {
    margin-left: $spacing-unit;
    margin-bottom: $spacing-unit/2;
}

ul ul {
    margin-bottom: 0;
}

pre {
    background-color: $grey-color-light;
    margin-bottom: $spacing-unit / 2;
    padding: $spacing-unit/4;
    overflow-x: scroll;
}

nav {
    margin-bottom: $spacing-unit/2;
    text-align: center;

    ul {
        margin-left: 0;
        margin-bottom: 0;
    }

    li {
        display: inline-block;
    }
}

.social {

    ul {
        margin-left: 0;
        margin-bottom: 0;
        text-align: center;
    }

    li {
        display: inline-block;
    }

    a, svg {
        display: block;
    }

    a {
        height: 1.5rem;
        width: 1.5rem;
    }

    .icon:hover {
        border-radius: 100%;
        background: $grey-color-light;
        color: $brand-color;
        fill: $brand-color;
        transform: scale(2);
        transition: background-color .5s, transform .5s ease-out
    }
}

.icon {
    color: $grey-color-dark;
    fill: $grey-color-dark;
}


.flex-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0;
  margin-left: $gap-size;

  h2 {
    font-size: $small-font-size;
    line-height: 1rem;
  }
}

.dates {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  background-color: rgba($theme-v-light, 0.4);
  border: 2px solid $theme-dark;
  border-radius: 10px;
  padding: 5px;

  margin: $gap-size;
  text-align: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  .dateinput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    input {
      width: 70px;
      height: 70px;
      margin: 2px;
      padding: 2px;
      background-color: $theme-light;
      border: 2px solid $theme-dark;
      border-radius: 10px;
      text-align: center;
      font-weight: 700;
      font-size: $large-font-size;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;

      &:hover {
        background-color: darken($theme-light, 30%);
        border-color: darken($theme-dark, 30%);
      }

      &[disabled] {
        background-color: lighten($theme-light, 50%);
      }
    }

    .datetext {
      margin-left: 5px;
      margin-right: 5px;
      flex-grow: 2;
      flex-shrink: 1;
      flex-basis: 0;
    }
  }


}

.info-box {
    background-color: rgba($theme-v-light, 0.6);
    border: 2px solid $theme-dark;
    padding-top: $spacing-unit/4;
    padding-left: 20px;
    border-radius: 10px;
    margin: $gap-size;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    .info-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: $spacing-unit/2;
    }

    h3 {
      margin-bottom: $spacing-unit/4;
    }

    p {
      text-align: left;
      margin-bottom: 0;
    }

    a, svg {
      display: inline-block;
    }

    span {
      vertical-align: top;
    }

    svg {
        height: 1.2rem;
        width: 1.2rem;
    }

    small {
      text-align: left;
      font-size: $small-font-size;
    }

    .info {
      padding-left: $gap-size * 2;
      float: left;
      width: 65%;
    }

    .icon {
      float: left;
      max-width: 30%;
      height: auto;
      border-radius: 10px;
    }
}

.vis {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    width: 100%;
    margin: 0;
    text-align: center;
}

.footer-divide {
  margin-top: $spacing-unit;
}

footer small {
  font-size: $small-font-size;
}

@include media-query($small-break) {
    body {
        width: 80%;
        margin: auto;
    }

    nav {
        margin-top: $spacing-unit;
        text-align: right;
    }

    .social ul {
        float: left;
        text-align: left;
    }

}

@include media-query($medium-break) {
    body {
        max-width: $max-content-size;
    }

    h1, h2, h3 {
        padding: $spacing-unit/4 0 $spacing-unit/8 $spacing-unit/4;
    }

    nav {
      margin-bottom: $spacing-unit;
    }

    .flex-wrapper {
      flex-direction: row;
    }

    .title {
      margin-right: $gap-size*4;

      h2 {
        font-size: $medium-font-size;
        line-height: $base-line-height;
      }
    }
}
