---
layout: default
---

<div class="flex-wrapper">
    <div class="title">
        <h1 class="headline">BarDiff</h1>
        <h2>The 2nd best data-driven beer-dashboard in Cardiff since 2017</h2>
    </div>
    {% include dates.html %}
</div>



<div class="flex-wrapper">
    <div class="info-box">
        <h3>#1 Beer:</h3>
        <div class="info-wrapper">
            <img width="128px" src="img/128x128_placeholder.png" alt="" class="beer icon">
            <p class="info">
                <strong><span class="beer name"></span></strong><br>
                <a href="#" class="beer brewery" title="Brewery URL"><span></span></a><br>
                <span class="beer style"></span><br>
                ABV: <span class="beer abv"></span>%, <span class="beer ibu"></span> IBUs<br>
            </p>
        </div>
        <h3><span class="beer checkins"></span> Checkins</h3>
        <!-- <small><a href="beers/">... more about beers</a></small> -->
    </div>
    <div class="info-box">
        <h3>#1 Venue:</h3>
        <div class="info-wrapper">
            <img width="128px" src="img/128x128_placeholder.png" alt="" class="venue icon">
            <p class="info">
                <strong><a href="#" class="venue foursqurl"><span class="venue name"></span></a><br></strong>
                <span class="venue address"></span><br>
                <a href="#" class="venue twitter" title="Twitter"><svg viewBox="70 70 382 382"><path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"/></svg><!--[if lt IE 9]><em>Twitter:</em><![endif]--><span></span></a><br>
            </p>
        </div>
        <h3><span class="venue checkins"></span> Checkins</h3>
        <!-- <small><a href="venues/">... more about venues</a></small> -->
    </div>
    <div class="info-box">
        <h3>#1 Brewery:</h3>
        <div class="info-wrapper">
            <img width="128px" src="img/128x128_placeholder.png" alt="" class="brewery icon">
            <p class="info">
                <strong><a href="#" class="brewery url"><span class="brewery name"></span></a><br></strong>
                <span class="brewery address"></span><br>
                <a href="#" class="brewery twitter" title="Twitter"><svg viewBox="70 70 382 382"><path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"/></svg><!--[if lt IE 9]><em>Twitter:</em><![endif]--><span></span></a><br>
            </p>
        </div>
        <h3><span class="brewery checkins"></span> Checkins</h3>
        <!-- <small><a href="breweries/">... more about breweries</a></small> -->
    </div>
</div>
<hr>
<div id="what">
    <h2>What's been drunk, and where?</h2>
    <div class="flex-wrapper">
        <div class="vis">
            <h3>Beers</h3>
            <div id="beers">
            </div>
        </div>
        <div class="vis">
            <h3>Venues</h3>
            <div id="venues">
            </div>
        </div>
        <div class="vis">
            <h3>Breweries</h3>
            <div id="breweries">
            </div>
        </div>
        <div class="vis">
            <h3>Styles</h3>
            <div id="styles">
            </div>
        </div>
    </div>
</div>

<hr>
<div id="when">
    <h2>When was it drunk?</h2>
    <div class="flex-wrapper">
        <div class="vis">
            <h3>Days</h3>
            <div id="days">
            </div>
        </div>
        <div class="vis">
            <h3>Hours</h3>
            <div id="hours">
            </div>
        </div>
    </div>
</div>


{% include jslibs.html %}

<script>
    var date_request_format = "YYYY[-]MM[-]DD";

    function loadData(from, to, limit) {
        f = from.format(date_request_format);
        t = to.format(date_request_format);

        return new Promise(function(resolve, reject){

            d3.request("https://bardiff.com/api/data?from=" + f + "&to=" + t + "&limit=" + limit, function(data){
                resolve(JSON.parse(data.response));
            });
        });
    }

    var venues_chart;
    var beers_chart;
    var styles_chart;
    var breweries_chart;
    var hours_chart;
    var days_chart;

    init_bars();


    function checkStorage(from, to, limit) {
        return new Promise(function(resolve, reject){
            if(localStorage.getItem(from + to + limit)){
                resolve(JSON.parse(localStorage.getItem(from + to + limit)));
            };
        });
    }


    page.addDateChangeListener(function(from, to){

        page.showLoader();

        checkStorage(from, to, 10)
            .then(update_charts);

        loadData(from, to, 10)
            .then(update_charts)
            .then(function(data){
                cache_data(from, to, 10, data);
            });

    });
    page();
    page.setInputState();

    function cache_data(from, to, limit, data) {
        localStorage.setItem(from + to + limit, JSON.stringify(data));
    }

    function update_charts(data) {
        update_venue_info(data);
        update_beer_info(data);
        update_brewery_info(data);
        draw_venues_bar(data);
        draw_beers_bar(data);
        draw_breweries_bar(data);
        draw_styles_bar(data);
        draw_days_bar(data);
        draw_hours_bar(data);
        page.hideLoader();
        return data;
    }

    function update_brewery_info(data) {
        var brewery_data = data.breweries;
        d3.select('.info-box .brewery.name').html(brewery_data[0].y);
        d3.select('.info-box .brewery.icon').attr('src', brewery_data[0].icon);
        d3.select('.info-box .brewery.url').attr("href", brewery_data[0].url);
        d3.select('.info-box .brewery.address').html(brewery_data[0].city + ', ' + brewery_data[0].state);
        d3.select('.info-box .brewery.twitter')
            .attr('href', 'https://twitter.com/intent/user?screen_name=' + brewery_data[0].twitter.replace('@', ''))
            .select('span')
            .html(brewery_data[0].twitter.replace('@', ''));
        d3.select('.info-box .brewery.checkins').html(brewery_data[0].x);
        return data;
    }

    function update_beer_info(data) {
        var beer_data = data.beers;
        var top_beer_id = beer_data[0].id;
        var checkins = data.checkins.raw.filter(function(c){
            return c.beer === top_beer_id;
        });
        var brewery = checkins[0].brewery;
        var brewery_data = data.breweries.filter(function(b){
            return b.id === brewery;
        });
        console.log(brewery_data);
        d3.select('.info-box .beer.name').html(beer_data[0].y);
        if(brewery_data[0]) {
            d3.select('.info-box .beer.brewery')
                .attr('href', brewery_data[0].url)
                .select('span')
                .html(brewery_data[0].y);
        }
        d3.select('.info-box .beer.style').html(beer_data[0].style);
        d3.select('.info-box .beer.icon').attr('src', beer_data[0].icon);
        d3.select('.info-box .beer.abv').html(beer_data[0].abv);
        d3.select('.info-box .beer.ibu').html(beer_data[0].ibu);
        d3.select('.info-box .beer.checkins').html(beer_data[0].x);
        return data;
    }

    function update_venue_info(data) {
        var venues_data = data.venues;
        d3.select('.info-box .venue.name').html(venues_data[0].y);
        d3.select('.info-box .venue.icon').attr('src', venues_data[0].fsq_icon);
        d3.select('.info-box .venue.foursqurl').attr("href", venues_data[0].fsq_url);
        d3.select('.info-box .venue.address').html(venues_data[0].address + ', ' + venues_data[0].city);
        d3.select('.info-box .venue.twitter')
            .attr('href', 'https://twitter.com/intent/user?screen_name=' + venues_data[0].twitter.replace('@', ''))
            .select('span')
            .html(venues_data[0].twitter.replace('@', ''));
        d3.select('.info-box .venue.checkins').html(venues_data[0].x);
        return data;
    }

    function init_bars() {
        var venue_tooltip = function(d) {
            var text = "";
            text += d.x + " Checkins<br>";
            if(d.twitter) {
                text += d.twitter + "<br>";
            }
            if(d.address) {
                text += d.address + "<br>";
            }
            if(d.city) {
                text += d.city;
            }
            return text;
        };

        venues_chart = barChart()
            .width(d3.select('#venues').node().getBoundingClientRect().width)
            .x_label('Number of Checkins')
            .tooltip_function(venue_tooltip);

        beers_chart = barChart()
            .width(d3.select('#beers').node().getBoundingClientRect().width)
            .x_label('Number of Checkins');

        breweries_chart = barChart()
            .width(d3.select('#breweries').node().getBoundingClientRect().width)
            .x_label('Number of Checkins');

        styles_chart = barChart()
            .width(d3.select('#styles').node().getBoundingClientRect().width)
            .x_label('Number of Checkins');

        days_chart = barChart()
            .width(d3.select('#days').node().getBoundingClientRect().width)
            .x_label('Number of Checkins');

        hours_chart = barChart()
            .width(d3.select('#hours').node().getBoundingClientRect().width)
            .x_label('Number of Checkins');

        d3.select('#beers')
            .call(beers_chart);

        d3.select('#breweries')
            .call(breweries_chart);

        d3.select('#venues')
            .call(venues_chart);

        d3.select('#styles')
            .call(styles_chart);

        d3.select('#days')
            .call(days_chart);

        d3.select('#hours')
            .call(hours_chart);
    }

    function draw_venues_bar(data) {
        venues_chart
            .data(data.venues);

        return data;
    }

    function draw_beers_bar(data) {
        beers_chart
            .data(data.beers);

        return data;
    }

    function draw_breweries_bar(data) {
        breweries_chart
            .data(data.breweries);

        return data;
    }

    function draw_styles_bar(data) {
        styles_chart
            .data(data.styles);

        return data;
    }

    function draw_hours_bar(data) {
        hours_chart
            .data(data.checkins.hours);

        return data;
    }

    function draw_days_bar(data) {
        days_chart
            .data(data.checkins.week);

        return data;
    }

</script>
