input {
    width: 80px;
    margin: 2px;
    background-color: $theme-light;
    border:1px solid $theme-dark;
    text-align: center;
    border-radius: 5px;
}

input:hover {
    background-color: darken($theme-light, 10%);
    border-color: darken($theme-dark, 10%);
}

input[disabled] {
    background-color: $theme-v-light;
}

@media only screen and (min-width: 760px) {
    input {
        $font-size: $font-size-base;
        height: 40px;
    }
}