body {
    font-family: $font-family-sans-serif;
    line-height: $line-height-base;
}

.text-box {
    padding: $padding-small;
}

.bold {
    font-weight: 700;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
}

h1, h2, h3 {
    padding-left: $padding-small;
    margin-top: $line-height / 2;
    margin-bottom: $line-height / 2;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

#change-dates h2 {
    font-size: $font-size-h4;
}

small {
    font-size: $font-size-small;
}

@media only screen and (min-width: 760px) {
    
    h1, h2, h3 {
        padding-left: $padding-medium;
    }
}

@media only screen and (min-width: 1000px) {

    h1, h2, h3 {
        padding-left: $padding-large;
    }

    .text-box {
        padding: $padding-medium $padding-large;
    }
}